

#navbar {

}

#message_box {
  border: 2px solid #034b80;
  text-align: left;
  padding: 1.1%;
  height: 400px;
  background-color: #989895;
}

body {
  background-color: #fff;
  color: #034b80;
}

.darktheme {
  background-color: #034b80;
  color: #e7ec0d;
}

.largetext {
  font-size: 30px;
}
